
/* Typography */

head {
  font-size: 64px
  
  }
  
  h1 {
    font-size:var(--text-xxxl);
    margin-bottom:1.25rem;
    font-family:"Lobster", cursive;
    font-size: 64px;
  }
  h2 {
    font-size:var(--text-xxl);
    margin-bottom:1.25rem;
    font-family:"Lobster", cursive;
    font-size: 48px;

  
  }
  h3 {
    font-size:var(--text-xl);
    margin-bottom:1.25rem;
    font-family:"Lobster", cursive;
    font-size: 36px;

  
  }
  h4 {
    font-size:var(--text-lg);
    margin-bottom:1.25rem;
    font-family:"Lobster", cursive;
    font-size: 24px;
  }

  h5 {
    font-size:var(--text-md);
    margin-bottom:1.25rem;
    font-family:"Lobster", cursive;
    font-size: 16px;

  
  }
  
  h6 {
    font-size:var(--text-sm);
    margin-bottom:1.25rem;
    font-family:"Lobster", cursive;
    font-size: 12px;

  
  }
  
  p, li {
    font-size: 12px;
    font-family: "adelle-sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
    margin-top:var(--space-md);
    margin-bottom:1.25rem;
    color:var(--text-color);
  }
  
  
  /* Color samples */
  
  
    .color-brand-blue {
      background-color: var(--nmds-brand-pink);
    }
    .color-brand-blue {
      background-color: var(--nmds-brand-scarlet);
    }
    .color-brand-orange {
      background-color: var(--nmds-brand-blue);
    }
    .color-brand-burnt-red {
      background-color: var(--nmds-brand-emerald);
    }
   
  
  
  .primary-hue color-brand-blue {
    display: flex;
    padding:3rem 1rem;
    color:#105d8a;
    font-family: "adelle-sans", sans-serif;
  }
  
  .primary-hue color-brand-blue-2 {
    display: flex;
    padding:3rem 1rem;
    color:#8bdeec;
    font-family: "adelle-sans", sans-serif;

  }
  
  .secondary-hue {
    display: flex;
    padding:1.5rem 1rem;
    color:#ffffff;
    font-family: 'Work Sans';
  }
  
  .secondary-hue > div {
    width:33%;
  }
  
  .neutral-hue {
    display: flex;
    padding:1.5rem 1rem;
    color:#ffffff;
    font-family: 'Work Sans';
  }
  
  .neutral-hue > div {
    width:33%;
  }
  
  .accent-hue {
    display: flex;
    padding:.5rem 1rem;
    color:#ffffff;
    font-family: 'Work Sans';
  }
  
  .accent-hue > div {
    width:33%;
  }
  
  .text-dark {
    color:var(--text-color);
  }
  
  
  
  
  
  img {
    width:100%;
  }
  